@tailwind base;

@tailwind components;

@tailwind utilities;

@import url(tailwind.css);

@layer base {
  html {
    font-family:'Poppins', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .rotate-90 {
    transform: rotate(90deg);
  }
  
  .shadow-lightBlue-500\/50 {
    --tw-shadow-color: #3b82f680;
    --tw-shadow: var(--tw-shadow-colored);
  }

  .border-b-2 {
    border-bottom-width: 2px;
  }

  .border-l-4 {
    border-left-width: 4px;
  }
  
}