@tailwind base;

@tailwind components;

@tailwind utilities;

@import url(tailwind.css);

@layer base {
  html {
    /* font-family:'Poppins', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Roboto', 'DM Sans', sans-serif;
  }
  .rotate-90 {
    transform: rotate(90deg);
  }
  
  .shadow-lightBlue-500\/50 {
    --tw-shadow-color: #3b82f680;
    --tw-shadow: var(--tw-shadow-colored);
  }

  .border-b-2 {
    border-bottom-width: 2px;
  }

  .border-l-4 {
    border-left-width: 4px;
  }

  .gap-8 {
    gap: 2rem;
  }

  .gap-12 {
    gap: 3rem;
  }

  .bg-gradient-to-t-black {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.702), transparent, transparent);
  }

  .inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .isolate {
    isolation: isolate;
  }

  .bg-black\/50 {
    background-color: rgba(0,0,0, 0.5)
  }

  .bg-black-opacity {
    background-color: rgba(0, 0, 0, 0.753)
  }

  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .grid-rows-5 {
    grid-template-rows: repe  at(5, minmax(0, 1fr));
  }

  .w-200 {
    width: 200px;
  }

  .place-items-center {
    place-items: center;
  }

  .italic {
    font-style: italic;
  }

  .h-64 {
    height: 16rem /* 256px */;
  }

  .w-32 {
    width: 8rem /* 128px */;
  }

  .aspect-square {
    aspect-ratio: 1/1;
  }

  .aspect-landscape {
    aspect-ratio: 3/2;
  }
  
}